<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head") %>
    </head>
    <body>
        <header>
            <%- include("../fragmente/header") %>
        </header>    
        <main>
            <h1>Contul dvs. a fost sters!</h1>
        </main>
        <footer>
            <%- include('../fragmente/footer') %>
        </footer>
    </body>
</html>