<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Confirmare</title>
		<%- include("../fragmente/head") %>
	</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<h1>Confirmare mail</h1>
			<p>Email-ul a fost confirmat!</p>
		</main>
        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
	</body>
</html>