<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
        <header>
            <%- include("../fragmente/header") %>
        </header>
        <main>
            <h1>Cosul de cumparaturi</h1>
            <button class="btn btn-primary text-light mb-2" id="cumpara">Cumpara</button>  
        </main>
        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
</html>