<title>Buticul cu flori</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="flori, buchete, aranjamente florale, trandafiri criogenati, Buticul cu flori">
<meta name="description" content="Florari dedicati cu o traditie in arta florilor inca din 1990. Oferim buchete de flori potrivite pentru orice ocazie sau eveniment. Livrare gratuita la orice comanda de minim 200 de lei, oriunde in Bucuresti. Livrare in maxim 3 ore.">
<meta name="author" content="Son Andreea-Marina">

<script src="https://kit.fontawesome.com/ee8fda1a40.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/resurse/css/galerie/galerie-statica.css"> 
<link rel="stylesheet" href="/resurse/css/galerie/galerie-statica-700.css" media="screen and (max-width:700px)">
<link rel="stylesheet" href="/resurse/css/galerie/galerie-statica-1000.css" media="screen and (min-width:700px) and (max-width:1000px)">
<link rel="stylesheet" href="/resurse/css/nav/nav.css">
<link rel="stylesheet" href="/resurse/css/nav/nav-700.css" media="screen and (max-width:700px)">
<link rel="stylesheet" href="/resurse/css/nav/nav-1000.css" media="screen and (min-width:700px) and (max-width:1000px)">
<link rel="stylesheet" href="/resurse/css/layout/layout.css">
<link rel="stylesheet" href="/resurse/css/layout/layout-700.css" media="screen and (max-width:700px)">
<link rel="stylesheet" href="/resurse/css/layout/layout-1000.css" media="screen and (min-width:700px) and (max-width:1000px)">
<link rel="stylesheet" href="/resurse/css/serviciu-clienti/layout-serviciu-clienti.css" media="screen and (min-width:1000px)">
<link rel="stylesheet" href="/resurse/css/serviciu-clienti/layout-serviciu-clienti-1000.css" media="screen and (max-width:1000px)">
<link rel="stylesheet" href="/resurse/css/biblioteci/customizare-bootstrap.css">
<link rel="stylesheet" href="/resurse/css/produse/produse.css">
<link rel="stylesheet" href="/resurse/css/produse/produs.css">
<link rel="stylesheet" href="/resurse/css/banner.css">
<link rel="stylesheet" href="/resurse/css/printare.css" media="print">
<link rel="stylesheet" href="/resurse/css/calendar.css">

<script type="text/javascript" src="/resurse/js/tema.js"></script>
<script type="text/javascript" src="/resurse/js/cookies.js"></script>
<script type="text/javascript" src="/resurse/js/meniu.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resurse/ico/favicon-16x16.png">
<link rel="manifest" href="/resurse/ico/site.webmanifest">
<link rel="mask-icon" href="/resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/resurse/ico/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/resurse/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Red+Hat+Display&display=swap" rel="stylesheet">
<style> @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Red+Hat+Display&display=swap'); </style>
<script>
    window.addEventListener("DOMContentLoaded",  function(){
        var main = document.getElementsByTagName("main")[0];
        var filtre = document.getElementById("filtre");
        var profil = document.getElementById("profil");
        var admin_prod = document.getElementById("administare_produse");
        if("<%= locals.problema_vedere %>" == "true"){
            if(window.innerWidth >= 700 && window.innerWidth <= 1000){
                main.style.fontSize = "24px";
                if(filtre){
                    filtre.style.fontSize = "12px";
                }
                if(admin_prod){
                    admin_prod.style.fontSize = "12px";
                }
            }
            if(window.innerWidth <= 700){
                main.style.fontSize = "28px";
                if(filtre){
                    filtre.style.fontSize = "14px";
                }
                if(admin_prod){
                    admin_prod.style.fontSize = "14px";
                }
            }
            if(window.innerWidth >= 1000){
                main.style.fontSize = "32px";
                if(filtre){
                    filtre.style.fontSize = "16px";
                }
                if(admin_prod){
                    admin_prod.style.fontSize = "16px";
                }
            }
        }
    });
</script>