<form id="form" method="post" class="date" action="<%= locals.action %>" enctype="multipart/form-data">
    <label for="username_login">Username</label><br>
    <input type="text" id="username_login" name="username_login" class="form-control w-25" required><br>
    <label for="parola_login">Parola</label><br>
    <input type="password" id="parola_login" name="parola_login" class="form-control w-25" required><br>
    <input class="btn btn-primary text-light mb-2" type="submit" value="Autentificare">
</form>
